<h1>The factorial of a number, iterated 10 000 000 times</h1>
<input max="22" min="1" type="number" placeholder="Input a postive number" #inp />

<button type="button" (click)="calculate(inp.value)" [disabled]="calculating()">
  Calculate
</button>

@if (!calculating()) { @if (jsResult()) {
<div>Result in JS: {{ jsResult() }}, calculated in {{ jsTime() }}</div>
} @if (rsResult()) {
<div>Result in Rust: {{ rsResult() }}, calculated in {{ rsTime() }}</div>
} @if(conclusion()){
<div>{{ conclusion() }}</div>
} }